<h1>Comics Homepage</h1>

<ul>
  <% @comics.each do |comic| %>

    <li><%= link_to comic.title, comic_path(comic) %></li><br>
  
  <% end %>
</ul>

 


<p><%= link_to 'Profile', reader_path(current_user) %></p>

<p><%= button_to 'Log Out', logout_path, method: "delete" %></p>

