<h1>Comics Homepage</h1>

<ul>
  <% @comics.each do |comic| %>

    <li><%= link_to comic.title, comic_path(comic) %></li><br>
  
  <% end %>
</ul>

 
<%= link_to 'Reviews', reviews_path %><br><br>

<p><%= link_to 'Back', readers_path %></p>

<p><%= button_to 'Log Out', logout_path, method: "delete" %></p>

