<h2>Comic Details </h2>

<p>
  <h4> Title: </h4>
  <h3><%= @comic.title  %></h3>
  <h4> Description: </h4>
  <h3><%= @comic.description %></h3>
</p>
<br>

<p>
  

<h3><%= link_to "Write a comic review", new_comic_review_path(@comic.reviews)  %><br><br></h3>
  

 
</p>

<%= link_to 'Comics Homepage', comics_path %>
