<h1>Reader reviews</h1>

<ul>
  <% @reviews.each do |review| %>

    
    <li><%= link_to review.comic.title, review_path(review) %></li><br>
  <% end %>
</ul>


<%= link_to 'Comics Homepage', comics_path %><br><br>

<p><%= button_to 'Log Out', logout_path, method: "delete" %></p>
